.filterContainer {
  background-color: #05060cf8;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  .form-select,
  .select-item {
    height: 26px;
    max-width: 230px;
    margin-left: 19px;
    width: 200px;
    padding: 0;
  }
  .filterMenu {
    color: #fff;
  }
  //    background-color: rgb(13, 17, 24);
  .filter {
    display: flex;
    align-items: center;
    margin: 0 20px;

    .title {
      justify-content: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: rgba(228, 226, 225, 0.945);
    }
  }
  .btn {
    width: 70px;
  }
}

.filterMobileMenü {
  position: relative;
  display: none;
  .toggle-mobil {
    padding-bottom: 4px;
    height: 27px;
    align-self: flex-end;
    margin-right: 12px;
    &:hover {
      cursor: pointer;
    }
  }
  .mobileContainer {
    padding: 20px;
    background-color: rgb(255, 255, 255);
    .filter-m,
    .title-m {
      margin: 4px;
    }
    .title-m {
      svg {
        margin: 2px;
      }
    }
  }
  button {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.11);
  }
}

@media screen and (max-width: 992px) {
  .filterContainer {
    display: none;
  }
  .filterMobileMenü {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .filterMobileMenü {
    display: flex;
    flex-direction: column;
  }
}
