.categoriesWrapper{
    background-color: rgba(139, 138, 138, 0.178);
    padding: 1rem 2rem;
  .cardBanner{
    align-items: center;
    text-align: center;
    border-radius: 10px;

    &:hover{
        cursor: pointer;
        background-color: rgba(14, 13, 13, 0.11);
        
    }

    .banner{
        width: 100%;
        height: 50%;
        margin:9px auto;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
        }
    }
  }
   

}