.categoriesWrapper{
    background-color: rgba(138, 121, 121, 0.178);
    padding: 1rem 2rem;
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
      .categoriesCard{
        height:auto ;
        width: 186px;
        background-color: rgba(4, 7, 7, 0.068);
        padding: 8px;
      margin: auto 4px;
        
        .cardBanner{
         
           object-fit: contain;
          
           img{
            max-width: 100%;
            height: auto;
            object-fit: cover;
           }
  
      }
        .categoryInf{
          margin: 12px auto ;
        }
         
         &:hover{
          cursor: pointer;
         }


      }

       

    
 
   

}