.banner{
    display: flex;
    position: relative;
    min-height: 40px;
    .bannerjpg{
        filter: blur(8px);
        -webkit-filter: blur(1px);
        max-height: 240px;
        height: 180px;
    }
    
    .bannerTitle{
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 14px 30px;
         z-index: 5;
        bottom: 0;
        color: aliceblue;
       
    }

}
.cardContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items:center ;

   div:nth-child(2n-1){
    width: 100% ;
    max-height: 310px;
   }
    .cardWrapper{
        width: 430px;
        position: relative; 
        margin: 12px 28px; 
        overflow: hidden;
        .cardbanner{
            width: 100%;
            height: 100%;
          img{
         height: auto;
          }
           
        }
        .categoryInf{
         width: 100%;
         height: 53px;
         position:absolute ;
         bottom: 0;
         right: 0;
         background-color: rgba(21, 35, 58, 0.685);
         text-align: end;
         padding: 0 22px;
         color: rgb(245, 255, 240);
        &:hover{
            cursor: pointer;
            height: 85px;
            transition: all 0.5s ease-in-out;
        }
         
        }
    }
}
@media screen and (max-width: 600px) {
    .bannerTitle{
        h4{
            color:rgba(5, 0, 14, 0.918);
        }
       

        

    }
    .bannerjpg{
        display: none;
    }
    
}