
.detailContainer{
   img{
    max-height: 470px;
   }
    .detailInf{
        // width: 100%;
        background-color: rgba(190, 187, 187, 0.644);
        justify-content: space-between;
       
       div{
        padding: 0 4px;
        display: flex;
       align-items: center;
      }
  
    }

}
.ticket{
    margin-top:12px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aliceblue;
    border-left : 5px solid rgb(4, 4, 48);
    margin-bottom: 12px;
    &:hover{
        border-color: rgb(218, 189, 25);
    }
    div{
        padding:0 22px ;
    }
}
.notice{
    margin-top: 32px;
    span{
        display: block;
        padding: 4px 9px;
        font-size: 12px;
    }
   }
   .s2{
    font-size: 16px;
    font-weight: 500;
  }