.navbar-container{
    background-color: rgb(10, 4, 4);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 12px 20px;
    align-items: center;
    border-bottom: 3px solid goldenrod;
    color:#fff;

   .filterMenu{
    cursor: pointer;
   }
    img{
        height: auto;
        width: 66px;
        border-radius: 18%;
        
    }
    .search{
        display: flex;
        align-items: center;
        position: relative;
        min-width: 300px;
       input{
         width: 100%;
            outline: none;
            height: 29px;
            border: none;
            border-radius: 6px;
            transition: width 0.5s ease-in-out;
            font-size: 12px;
            padding: 4px 10px;
          
        }
        .searchBtn{
            color: rgb(53, 46, 9);
            position: absolute;
            right:0;
            cursor: pointer;
        }
    }
}

.categoryMenü{
    
    li{
        border-right: 1px solid rgba(56, 52, 16, 0.479);
       padding:0  10px;
        
        a{ 
            color: #ffeded
        }
    }
}
.footerContainer{
    @extend .navbar-container;
      justify-content: space-evenly;
    border: none;
 
    .socialIcons{
        display: flex;
        div{
            cursor: pointer;
            margin: 14px;
        
        }
    }
    .footerLink{ 
        span{   
            font-weight: 500;
        }
    }
}
@media screen and (min-width:992px) {    
    .filterMenu{   
        display:none;
    }
   
}
@media screen and ( max-width:992px) {
   *{
    font-size: 14px;}

     .search{
        margin: 10px auto;
        width: 100%;
       
     }
    .footerContainer{
        display: flex;
        flex-direction: column;
    }
    
}