@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,500;1,400&family=Nunito+Sans:ital,opsz,wght@0,6..12,400;0,6..12,500;1,6..12,200&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,800;1,300&family=Raleway:wght@300;400&family=Ubuntu:wght@300;400;500&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';
*{
  list-style-type: none;
  align-content: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none!important;

}
p{text-indent: 8px;
  margin: 0;
  padding: 0;
}
a{
  color: rgb(20, 34, 43);
}
body {
  --bs-gutter-x:0
  margin: 0;
  font-family: 'Lora', serif;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  height: 100vh;


}


ul{
  padding: 0;
}


.carousel-indicators{
  display: none ; 
}
.carousel-control-next, .carousel-control-prev {
 opacity: 0;
 width: 2%;
}


  .carousel-caption{
   width: 60%;
  text-align: start;
   left: 4%;
  bottom: 0;
 padding: 4px 0;


}


.slide{
 filter: grayscale(30%);

}
.sliderImg{
 object-fit: fill;
  width: 100%;
   max-height:550px;
  
}
 /* .eventContainer{
  display: grid;
  grid-template-columns:60% 20% 20%;
  
 } */
 .ant-picker-body{
 
   padding:0;
 }
 .ant-picker-panels{
 display: flex;
 max-width:80vw;

 flex-wrap: wrap!important;
 justify-content: center;
 }

.ant-picker-dropdown, .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner, :where(.css-dev-only-do-not-override-17a39f8).ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner, :where(.css-dev-only-do-not-override-17a39f8).ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
  color: #fff;
  border-radius: 30px;
  background: #0f0424;}
  .ant-picker-dropdown{
    padding: 0;
  }

  @media screen and (max-width: 600px) {
    .ant-picker-panel-container{
      overflow: scroll!important;
      margin-left: 0px;
      max-height: 50vh;
     }
  }